# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
*/android/.gradle

# Flutter Version Management
.fvm/flutter_sdk

# Testing
coverage/
bin/
lib/presentation/feature/home
lib/presentation/feature/camera_page.dart
lib/presentation/feature/google_maps_directions_page.dart
lib/presentation/feature/video_page.dart

# ios
/ios/fastlane/report.xml
/ios/AppStore_com.diagwaysmart.thoth.mobileprovision
/ios/Runner.app.dSYM.zip
/ios/Runner.app.dSYM.zip
/ios/Runner.ipa

build/